html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4078c0;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

p {
  margin: 5px 0;
}

div, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

code {
  border: 0;
  border-radius: 3px;
  padding: 2px 6px;
  color: #252a2f;
  background: #F3F4F4;
  line-height: 1.5;
  font-size: 85%;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.hljs {
  line-height: 1.8;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
  padding: 12px 18px;
  background: #f9fafc;
  border: solid 1px #eaeefb;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}

.main {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 27px;
  margin: 18px 0;
  border-bottom: 1px solid #e8ebef;
}
h2 {
  font-size: 24px;
  margin: 16px 0;
  border-bottom: 1px solid #e8ebef;
}
h3 {
  font-size: 21px;
  margin: 14px 0;
  font-weight: 700;
}
h4 {
  font-size: 18px;
  margin: 12px 0;
}
p {
  font-size: 15px;
}
