
.side-position {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #FAFBFC;
  border-right: 3px solid #f1f1f1;
}

#side {
  width: 100%;
  position: static;
  overflow-y: auto;
  overflow-x: hidden;

  & > ul {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 10px 0 10px 15px;
  }

  .side-title {
    width: 100%;
    height: 52px;
    text-align: left;
    border-bottom: 1px solid #e1e4e8;

    h2 {
      margin: 0;
      line-height: 52px;
      font-size: 16px;
      font-weight: 400;
      color: #404040;
      padding-left: 15px;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background: #FAFBFC;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #f0f0f0;
  }
}

.chapter {
  font-size: 15px;
  line-height: 37px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;

  &.link {
    a {
      color: #404040;
    }
  }

  &.dir {
    text-transform: uppercase;
    font-size: 15px;
    a {
      color: #999;
      text-decoration: none;
    }
  }

  &.active {
    a {
      color: #4078c0;
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.container-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  left: 300px;
  background: #fff;
}

#container {
  width: 100%;
  left: 250px;
  height: 100%;
  position: static;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
    background: #FAFBFC;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #f0f0f0;
  }
}

.container-inner {
  max-width: 900px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px 20px 80px;

  >:first-child {
    margin-top: 0!important;
  }
}

.sub-list {
  padding: 0;
  height: 0;
  font-size: 15px;
  overflow: hidden;
  transition: all .25s ease-in-out;

  li {
    padding-left: 15px;
    line-height: 40px;
  }
}

#container {
  line-height: 1.4;
  color: #333;

  ul {
    list-style-type: disc;
    margin: 15px 0 15px 15px;

    li {
      list-style-type: disc;
      line-height: 1.5;

      p {
        margin: 15px 0;
      }
      img {
        margin: 10px 0;
      }
    }
  }

  ol {
    padding-left: 15px;
    margin: 15px 0 15px 15px;

    li {
      line-height: 1.4;
      list-style: unset;

      p {
        margin: 15px 0;
      }
    }
  }

  blockquote {
    background: #f8f8f8;
    border-left: 4px solid #6da4a7;
    margin: 25px 0;
    color: #7b7b7b;
    word-wrap: break-word;
    padding: 6px 5px 6px 20px;

    p, span {
      margin: 0;
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 120px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #999;
  color: #f3f3f3;
  font-size: 13px;
  text-align: center;
  line-height: 45px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.loading-indicator {
  position: fixed;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  left: 50%;
  top: 25px;
  overflow: hidden;
  transform: translateX(132px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  &.show {
    opacity: .5;
    visibility: visible;
  }

  span {
    display: none;
  }

  .loading-indicator-container {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: loading 600ms infinite linear;
    -webkit-animation: loading 600ms infinite linear;
  }

  @keyframes loading {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
  }

  @-webkit-keyframes loading {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }

}


